/* grid css */

main {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
    animation: 3s linear fadeIn;
    opacity: 1;
}

.flex-item {
    display: inline-flex;
    width: 50vw;
    height: 50vh;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.flex-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vh;
    height: 50vh;
    transition: transform 0.25s linear, opacity 0.25s linear;
    transform: perspective(500px) translateZ(0);
    opacity: 1;
    background-position: bottom;
    background-size: cover;
}

.flex-image.inviewport {
    opacity: 1;
}

.flex-content {
    flex: 0 1 100%;
    z-index: 1;
    transform: translateZ(30px);
    text-align: center;
    position: relative;
    text-decoration: none;
    color:#F6F5F3;
    text-shadow: 3px 3px 5px #020301;
}

.flex-title {
    position: absolute;
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 50%; */
    /* text-align: left; */
    color:#F6F5F3;
    text-shadow: 3px 3px 5px #020301;
    padding: 2vmin;
    font-size: 4.5vmin;
    transition: opacity 0.25s linear 0.25s;
    opacity: 1;
    bottom: 0;
    /* padding: 4.5vmin 4.5vmin 1.5em; */
}

.details__title  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4.5vmin;
    opacity: 0;
    transition: opacity 0.25s linear 0.25s;
    background: rgba(0, 0, 0, 0.6);
}

.details__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    padding: 4.5vmin;
    transition: opacity 0.25s linear 0.25s;
    opacity: 0;
    /* background: rgba(0, 0, 0, 0.6); */
}

.flex-details:hover {
    transition: opacity 0.25s linear 0.25s;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    width: 50vw;
    height: 50vh;
    color:#F6F5F3;
    text-shadow: 3px 3px 5px #020301;
}

.flex-title:hover {
    transition: opacity 0.25s linear 0.25s;
    opacity: 0;
    /* background: rgba(0, 0, 0, 0); */
}

.details__description:hover, .details__title:hover {
    opacity: 1;
}

.details__description::before {
    display: block;
    width: 10vmax;
    height: 2.5px;
    content: '';
    background: #A0D176;
    margin: 2.5vmin auto;
}

.details__title:hover {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 2vmin;
    font-size: 4.5vmin;
    transition: opacity 0.25s linear 0.25s;
    opacity: 1;
    bottom: 0;
    padding: 4.5vmin 4.5vmin 1.5em;
}

.flex-content.blank {
    cursor:initial;
} 


.background-gradient {
    position: absolute;
    top: -.1%;
    right: -.1%;
    bottom: -.2%;
    left: -.1%;
    background-image: url(gradient-block.d9c6745e2a0f3683b87b.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: border-box;
    background-size: cover;
}
/* 
.columns2 .background-gradient {
    background-image: url(data:image/png;base64.jpg);
    background-position: left bottom;
    background-size: 100% 50%;
} */

@media screen and (max-width: 500px) {
    .flex-item {
        width: 100vh;
        height: 50vh;
    }
}

/* @media screen and (min-width: 400px) {} */
.flex-image:hover {
    transform: scale(1.2);
    transform: perspective(500px) translateZ(25px);
} 
