/* .cafebackground {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "cafe-left menu menu cafe-right";
    position: relative;
    z-index: 1;
}

#cafe-left { 
    grid-area: cafe-left;
    z-index: 1;
}

#menu { 
    grid-area: menu;
    padding: 3em;
    z-index: 1; 
}

#cafe-right { 
    grid-area: cafe-right;
    z-index: 1; 
}

#brick {
    position: relative;
    background-image: url("image/Cafe/backdrop1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: -1;
}  */

/* <main>
        <div class="cafebackground">
            <div id="brick">
                <img src='images/cafe/backdrop1.jpg' alt="brick wall and chalkboard">
                <div id="cafe-left"></div>
                <table id="menu">
                    <tr>
                        <td colspan="2">Food</td>
                        <td colspan="2">Drinks</td>
                    </tr>
                    <tr>
                        <td>Sandwiches</td>
                        <td>$7</td>
                        <td>Regular Coffee</td>
                        <td>$3</td>
                    </tr>
                    <tr>
                        <td>Wraps</td>
                        <td>$6</td>
                        <td>Expresso</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td>Soup</td>
                        <td>$4</td>
                        <td>Cappuccino</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td>Bagels</td>
                        <td>$3</td>
                        <td>Tea (Asorted)</td>
                        <td>$3</td>
                    </tr>
                    <tr>
                        <td>Muffins</td>
                        <td>$3</td>
                        <td>Hot Chocolate</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td>Croissants</td>
                        <td>$2</td>
                        <td>Apple Cider</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td>Chips</td>
                        <td>$2</td>
                        <td>Pop</td>
                        <td>$2</td>
                    </tr>
                    <tr>
                        <td>Cookies</td>
                        <td>$1</td>
                        <td>Juice</td>
                        <td>$2</td>
                    </tr>
                </table>
                <div id="cafe-right"></div>
            </div>
        </div>
    </main> */