/* viridarium banner css */

.viridarium-banner  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-flow: row wrap;
    background-color: #020301;
    z-index: 2;
}

.viridarium-banner-txt {
    margin: 0.5rem 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ACC888; 
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: center;
}

.night-mode > .viridarium-banner-txt {
    margin: 0.5rem 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #A0D176; 
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
}

a.viridarium-banner-btn {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #020301;
    background-color: #A0D176;
    border-color: #A0D176;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 1.2vmin 2.5vmin;
    font-size: 1.35rem;
    margin: 0.5rem 2rem;
}

a.viridarium-banner-btn:hover {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #A0D176;
    font-weight: bold;
    background-color: #202B10;
    border: 0.5px solid #A0D176;
    padding: ;
}


/*---------- AMP Design CSS--------*/

.wall-header-img {
    position: absolute;
    background-image: url(images/Paludarium-wall.png);
    background-position: contain;
    width: 100%;
    height: auto;
    z-index: -1;
}

.about {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    top: 25vh;
    left: 5vw;  
    z-index: 0;
}

.about-team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 1 60vw;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;  
}

#about-title {
    display: flex;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 5em;
    color:#F6F5F3;
    text-shadow: 3px 3px 5px #020301;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;  
    z-index: 1;
}

#about-team-title {
    display: relative;
    flex-wrap: nowrap;
    font-family: 'Proza Libre', sans-serif;
    font-size: 3.5em;
    color: #A0D176;
    text-shadow: 2px 2px 5px #020301;
    text-align: left;
    padding-bottom: 0.2em;
    z-index: 1;
}

.about-team p {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.25em;
    color:#F6F5F3;
    text-shadow: 2px 2px 5px #020301;
    text-align: left;
    padding: 0 0 0.75em 0;
    z-index: 1;
}

.about-team a {
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #A0D176;
    text-shadow: 1px 1px 5px #020301;
    text-decoration: none;
    text-align: left;
}



/*---------- End AMP Design CSS--------*/


.footer-banner  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-flow: row wrap;
    background-color: #020301;
}

a.footer-banner-btn, h3.footer-banner-txt {
    text-align: center;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    color:  #202B10;
    text-shadow: 0.5px 0.5px 2.5px #A0D176;
    padding: 15px;
}

a.footer-banner-btn {
    border: none;  
}

a.footer-banner-btn:hover {
    color: #020301;
    background-color: #A0D176;
    border: none;
    text-decoration: none;
    padding: 2px;
    /* margin: 0.5rem 0.5rem; */
}
